

@media (min-width:400px) and (max-width: 768px){
    .contHome{
    
        & .contHome__dest{
            display: flex;
            flex-direction: column;
            align-items: center;  
            
            & .contHome__dest--card img{
                width: 200px;
                height: 200px;
            }
        }
    }

    .contFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (min-width: 400px) and (max-width: 768px){
    
    .contenedor{
        
       & .contenedor__info {
            display: none;
       }
    }
}

//pagina de contacto
@media (min-width:400px) and (max-width: 768px){

    .contenedor__form{

        & .contenedor__form--cardForm{
           
            & .imgForm{
                display: none;
            }

            & .formContact{
                width: 100vw;
                
               
            }
        }
    }

}



























